* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url("../fonts/Poppins-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url("../fonts/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: 'Poppins Bold';
    src: url("../fonts/Poppins-Bold.otf") format("opentype");
}

html {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    /* width: 100vw; */
    overflow-x: hidden !important; 
    -webkit-overflow-scrolling: touch;
    font-family: 'Poppins SemiBold', sans-serif;
}

body {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100vw;
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100vw;
}



body > footer {
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

picture {
    /* vertical-align: top; */
    display: block;
    border: 0;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

.main {
    width: 100vw;
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
    width: 100vw;
 }

 .overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100vw;
}

.overlay .header {
    float: left;
    width: 100vw;
    color: white;
}

.overlay .logo {
    float: left;
    padding-top: 8.9vh;
    padding-left: 6.98vw;
}

.overlay .header .logo picture img {
    width: 13.5vw;
    height: 12.5vh;
}

.overlay .menu {
    float: left;
    padding-top: 10.7vh;
    padding-left: 65.36vw;
    /* color: white; */
    color: #C9C9CB;
    font-size: 0.85vw;
    font-family: 'Poppins Bold';
    letter-spacing: 0.012vw;
}

.overlay .main-title {
    float: left;
    color: white;
    padding-top: 11.2vh;
    padding-left: 10.4vw;
    font-size: 3.442vw;
    width: 100vw;
}

.overlay .sub-title {
    float: left;
    color: white;
    /* color: #BBBEBF; */
    padding-top: 1.82vh;
    padding-left: 10.4vw;
    font-family: 'Poppins Regular';
    font-size: 1.04vw;
    font-weight: 600;
    letter-spacing: 0.038vw;
    width: 100vw;
}

.overlay .invite {
    float: left;
    padding-top: 10vh;
    padding-left: 10.4vw;
    width: 100vw;
}

.overlay .invite button {
    border-radius: 0.5vw;
    width: 16.66vw;
    height: 6.7vh;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.52vh;
    border: 0;
    background-color: #3398DB;
    font-size: 0.814vw;
    font-family: 'Poppins Bold', sans-serif;
    letter-spacing: 0.025vw;
    text-shadow: 0.25vw;
}

.one-third {
    float: left;
    width: 26.864vw;
}

.overlay .circle {
    float: left;
}

.overlay .shapes {
    float: left;
    padding-top: 23.1vh;
    padding-left: 10.4vw;
    width: 100vw;
}

.overlay .shapes .title {
    float: left;
    padding-left: 1.4vw;
    margin-top: -0.3vh;
    font-size: 0.98vw;
    color: white;
    vertical-align: text-top;
}

.overlay .shapes .message {
    float: left;
    padding-left: 1.4vw;
    margin-top: -0.3vh;
    font-size: 1.1vw;
    font-family: 'Poppins Regular', sans-serif;
    color: white;
    /* color: #AAACAE; */
}

.middle-content {
    float: left;
    padding-top: 12.29vh;
    padding-left: 10.4vw;
    padding-bottom: 13vh;
    width: 100vw;
}

.middle-content .title {
    padding-bottom: 2.62vh;
    color: #3398DB;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 0.838vw;
}

.middle-content .text {
    color: rgb(175, 172, 172);
    font-family: 'Poppins Regular', sans-serif;
    font-size: 0.95vw;
}

.invite-section {
    float: left;
    width: 100vw;
    line-height: 0;
}

.overlay .invite-form {
    float: left;
    margin-top: 71vh;
}

.overlay .invite-form .title {
    padding-left: 11.9vw;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 2.932vw;
    color: #3398DB;
}

.overlay .invite-form form {
    padding-top: 1.83vh;
    padding-left: 10.4vw;
}

::placeholder { 
    color: #B9B9B9;
    opacity: 1; 
}
  
:-ms-input-placeholder { 
    color: #B9B9B9;
}
  
::-ms-input-placeholder { 
    color: #B9B9B9;
}

.overlay .invite-form form input {
    width: 17.18vw;
    height: 6.7vh;
    background-color: #E8E8E8;
    border-radius: 0.25vw;
    border: 0;
    margin-right:  1.2vw;
    margin-bottom: 2.76vh;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 0.94vw;
    letter-spacing: 0.025vw;
    text-shadow: 0.025vw 0.025vw #B9B9B9;
    padding-left: 1.6vw;
}

.overlay .invite-form form textarea {
    width: 37.3vw;
    height: 11.3vh;
    margin-bottom: 1.06vw;
    background-color: #E8E8E8;
    border-radius: 0.25vw;
    border: 0;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.025vw;
    text-shadow: 0.025vw 0.025vw #B9B9B9;
    padding-top: 2.3vh;
    padding-left: 1.6vw;
}

.overlay .invite-form form button {
    width: 38.9vw;
    height: 6.94vh;
    background-color: #3398DB;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.52vh;
    border-radius: 0.25vw;
    border: 0;
    background-color: #3398DB;
    font-size: 0.84vw;
    font-family: 'Poppins Bold', sans-serif;
    letter-spacing: 0.025vw;
    text-shadow: 0.25vw;
}

.about .home-link-m {
    margin-top: 11.4vh;
    margin-left: 87.3vw;
    width: 3.4vw;
    height: 2vh;
    position: absolute;
}

.about,
.eco,
.hives,
.ethos,
.grow,
.currency,
.ventures,
.footer {
    float: left;
    width: 100vw;
    display: block;
    line-height: 0;
}

.eco .hives-a ,
.eco .grow-a ,
.eco .currency-a ,
.eco .ventures-a {
    height: 6vh;
    position: absolute;
}

.eco .hives-a {
    margin-top: 31.4vh;
    margin-left: 10.4vw;
    width: 8vw;
}

.eco .grow-a {
    margin-top: 45.7vh;
    margin-left: 10.4vw;
    width: 8vw;
}

.eco .currency-a {
    margin-top: 59.4vh;
    margin-left: 10.4vw;
    width: 18.6vw;
}

.eco .ventures-a {
    margin-top: 79vh;
    margin-left: 10.4vw;
    width: 14.6vw;
}

.footer {
    position:relative;
    bottom:0;
}

.footer .home-link {
    margin-top: 9.3vh;
    margin-left: 46.4vw;
    width: 3.2vw;
    height: 2.3vh;
    position: absolute;
}

.footer .about-link {
    margin-top: 9.3vh;
    margin-left: 50.65vw;
    width: 3vw;
    height: 2.3vh;
    position: absolute;
}

.footer .home-link-a {
    margin-top: 9vh;
    margin-left: 46.4vw;
    width: 3.2vw;
    height: 2vh;
    position: absolute;
}

.footer .about-link-a {
    margin-top: 9vh;
    margin-left: 50.7vw;
    width: 3vw;
    height: 2vh;
    position: absolute;
}
