* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url("../fonts/Poppins-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url("../fonts/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: 'Poppins Bold';
    src: url("../fonts/Poppins-Bold.otf") format("opentype");
}

html {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-x: hidden !important; 
    -webkit-overflow-scrolling: touch;
    font-family: 'Poppins SemiBold', sans-serif;
}

body {
    top: 0;
    left: 0;
    width: 100vw;
}

header {
    top: 0;
    left: 0;
    width: 100vw;
}

body > footer {
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

picture {
    display: block;
    border: 0;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

.main {
    width: 100vw;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
}

.container { 
    position:relative; 
    /* line-height: 0; */
}

.container video {
    position:relative;
    z-index:0;
    width: 100vw;
 }

 .overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100vw;
    height: 10vw;
}

.overlay .header {
    float: left;
    width: 100vw;
    color: white;
}

.overlay .logo {
    float: left;
    padding-top: 4.55vw;
    padding-left: 6.98vw;
}

.overlay .header .logo picture img {
    width: 13.5vw;
    height: 6.6vw;
}

.overlay .menu {
    float: left;
    padding-top: 5.49vw;
    padding-left: 65.36vw;
    color: #C9C9CB;
    font-size: 0.85vw;
    font-family: 'Poppins Bold';
    letter-spacing: 0.012vw;
}

.overlay .about-main-title {
    float: left;
    width: 100vw;
    padding-top: 5vw;
    padding-left: 10vw;
    color: white;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 3.02vw; 
}

.overlay .about-main-text {
    float: left;
    width: 34vw;
    /* text-align: justify; */
    text-justify: auto;
    padding-top: 1vw;
    padding-left: 10vw;
    color: white;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 1.3vw; 
}

.overlay .about-main-message {
    float: left;
    width: 100vw;
    padding-top: 9vw;
    padding-left: 22vw;
    color: white;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 1.4vw; 
    letter-spacing: 0.35vw;
}

.overlay .main-title {
    float: left;
    color: white;
    padding-top: 5.5vw;
    padding-left: 10.4vw;
    font-size: 3.442vw;
    width: 100vw;
    letter-spacing: normal;
}

.overlay .sub-title {
    float: left;
    color: white;
    padding-top: 0.9vw;
    padding-left: 10.4vw;
    font-family: 'Poppins Regular';
    font-size: 1.04vw;
    font-weight: 600;
    letter-spacing: 0.038vw;
    width: 100vw;
}

.overlay .invite {
    float: left;
    padding-top: 5.3vw;
    padding-left: 10.4vw;
    width: 100vw;
}

.overlay .invite button {
    border-radius: 0.5vw;
    width: 16.66vw;
    height: 3.4vw;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.1vw;
    border: 0;
    background-color: #3398DB;
    font-size: 0.814vw;
    font-family: 'Poppins Bold', sans-serif;
    letter-spacing: 0.025vw;
    text-shadow: 0.25vw;
    cursor: pointer;
    opacity: 1;
}

.overlay .invite button:hover {
    opacity: 0.9;
}

.overlay .shapes .one-third {
    float: left;
    width: 26.864vw;
}

.overlay .circle {
    float: left;
}

.overlay .shapes {
    float: left;
    padding-top: 11.56vw;
    padding-left: 10.4vw;
    width: 100vw;
}

.overlay .shapes .title {
    float: left;
    padding-left: 1.4vw;
    width: 14vw;
    font-size: 0.99vw;
    color: white;
    vertical-align: text-top;
}

.overlay .shapes .message {
    float: left;
    padding-top: 0.64vw;
    padding-left: 1.4vw;
    font-size: 1.1vw;
    font-family: 'Poppins Regular', sans-serif;
    color: white;
}

.middle-content {
    float: left;
    padding-top: 5.8vw;
    padding-left: 10.4vw;
    padding-right: 10.4vw;
    padding-bottom: 6.34vw;
    width: 100vw;
}

.middle-content .one-third {
    float: left;
    width: 26.4vw;
}

.middle-content .one-third .title {
    padding-bottom: 1.2vw;
    color: #3398DB;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 1.2vw;
}

.middle-content .one-third .text {
    color: rgb(175, 172, 172);
    font-family: 'Poppins Regular', sans-serif;
    font-size: 1.05vw;
    text-justify: auto;
    padding-right: 5vw;
}

.invite-section {
    float: left;
    width: 100vw;
    background-image: url("../img/noir-invite.png");
    height: 41vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.invite-form {
    float: left;
    position: absolute;
    margin-top: 7vw;
}

.invite-form .title {
    padding-left: 11.9vw;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 2.932vw;
    color: #3398DB;
}

.invite-form form {
    padding-top: 1vw;
    padding-left: 10.4vw;
}

.invite-form form input {
    width: 17.18vw;
    height: 3.5vw;
    background-color: #E8E8E8;
    border-radius: 0.25vw;
    border: 0;
    margin-right:  1.2vw;
    margin-bottom: 1.4vw;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 0.94vw;
    letter-spacing: 0.025vw;
    text-shadow: 0.025vw 0.025vw #B9B9B9;
    padding-left: 1.6vw;
}

.invite-form form textarea {
    width: 37.3vw;
    height: 5.78vw;
    margin-bottom: 1.06vw;
    background-color: #E8E8E8;
    border-radius: 0.25vw;
    border: 0;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.025vw;
    text-shadow: 0.025vw 0.025vw #B9B9B9;
    padding-top: 1.29vw;
    padding-left: 1.6vw;
}

.invite-form form button {
    width: 38.9vw;
    height: 3.48vw;
    background-color: #3398DB;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.18vw;
    border-radius: 0.25vw;
    border: 0;
    background-color: #3398DB;
    font-size: 0.84vw;
    font-family: 'Poppins Bold', sans-serif;
    letter-spacing: 0.025vw;
    text-shadow: 0.25vw;
    cursor: pointer;
    opacity: 1;
}

.invite-form form button:hover {
    opacity: 0.9;
}

::placeholder { 
    color: #B9B9B9;
    opacity: 1; 
}
  
:-ms-input-placeholder { 
    color: #B9B9B9;
}
  
::-ms-input-placeholder { 
    color: #B9B9B9;
}

/* .about .home-link-m {
    margin-top: 5.75vw;
    margin-left: 87.3vw;
    width: 3.4vw;
    height: 1vw;
    position: absolute;
} */

.about,
.eco,
.hives,
.ethos,
.grow,
.currency,
.ventures,
.footer {
    float: left;
    width: 100vw;
    display: block;
    line-height: 0;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    background-size: auto;
}

.eco .hives-a ,
.eco .grow-a ,
.eco .currency-a ,
.eco .ventures-a {
    height: 2.8vw;
    position: absolute;
}

.eco .hives-a {
    margin-top: 15.6vw;
    margin-left: 10.4vw;
    width: 8vw;
}

.eco .grow-a {
    margin-top: 22.7vw;
    margin-left: 10.4vw;
    width: 8vw;
}

.eco .currency-a {
    margin-top: 29.4vw;
    margin-left: 10.4vw;
    width: 18.6vw;
}

.eco .ventures-a {
    margin-top: 40vw;
    margin-left: 10.4vw;
    width: 14.6vw;
}

.footer .home-link {
    margin-top: 4.8vw;
    margin-left: 46.4vw;
    width: 3.2vw;
    height: 2.3vh;
    position: absolute;
}

.footer .about-link {
    margin-top: 4.8vw;
    margin-left: 50.65vw;
    width: 3vw;
    height: 2.3vh;
    position: absolute;
}

.footer .home-link-a {
    margin-top: 4.7vw;
    margin-left: 46.4vw;
    width: 3.2vw;
    height: 2vh;
    position: absolute;
}

.footer .about-link-a {
    margin-top: 4.7vw;
    margin-left: 50.7vw;
    width: 3vw;
    height: 2vh;
    position: absolute;
}