* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    width: auto !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

.main {
    width: 100vw;
    /* height: 100vh; */
    /* height: 100%; */
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
    width: 1920px;
    /* height: 100vh;  */
 }

 .overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}


/* #video {
   width: 100vw;
   height: 100vh; 
} */