* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url("../fonts/Poppins-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url("../fonts/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: 'Poppins Bold';
    src: url("../fonts/Poppins-Bold.otf") format("opentype");
}

html {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    width: 100vw;
    overflow-x: hidden !important; 
    -webkit-overflow-scrolling: touch;
    font-family: 'Poppins SemiBold', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

::placeholder { 
    color: #B9B9B9;
    opacity: 1; 
}
  
:-ms-input-placeholder { 
    color: #B9B9B9;
}
  
::-ms-input-placeholder { 
    color: #B9B9B9;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

.main {
    width: 100vw;
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
    width: 100vw;
 }

 .overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100vw;
}

.overlay .header {
    float: left;
    width: 100vw;
    color: white;
}

.overlay .logo {
    float: left;
    padding-top: 8.9vh;
    padding-left: 6.98vw;
}

.overlay .menu {
    float: left;
    padding-top: 10.7vh;
    padding-left: 65.36vw;
    /* color: white; */
    color: #C9C9CB;
    font-size: 16px;
    font-family: 'Poppins Bold';
    letter-spacing: 0.2px;
}

.overlay .main-title {
    float: left;
    color: white;
    padding-top: 11.2vh;
    padding-left: 10.4vw;
    font-size: 66px;
    width: 100vw;
}

.overlay .sub-title {
    float: left;
    color: white;
    /* color: #BBBEBF; */
    padding-top: 1.8vh;
    padding-left: 10.4vw;
    font-family: 'Poppins Regular';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    width: 100vw;
}

.overlay .invite {
    float: left;
    padding-top: 10vh;
    padding-left: 10.4vw;
    width: 100vw;
}

.overlay .invite button {
    border-radius: 8px;
    width: 16.66vw;
    height: 6.7vh;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.52vh;
    border: 0;
    background-color: #3398DB;
    font-size: 16px;
    font-family: 'Poppins Bold', sans-serif;
    letter-spacing: 0.4px;
    text-shadow: 4px;
}

.one-third {
    float: left;
    width: 26.864vw;
}

.overlay .circle {
    float: left;
}

.overlay .shapes {
    float: left;
    padding-top: 23.1vh;
    padding-left: 10.4vw;
    width: 100vw;
}

.overlay .shapes .title {
    float: left;
    padding-left: 1.4vw;
    font-size: 20px;
    color: white;
    vertical-align: text-top;
}

.overlay .shapes .message {
    float: left;
    padding-left: 1.4vw;
    font-size: 22px;
    font-family: 'Poppins Regular', sans-serif;
    color: white;
    /* color: #AAACAE; */
}

.middle-content {
    float: left;
    padding-top: 12.2vh;
    padding-left: 10.4vw;
    padding-bottom: 12.2vh;
    width: 100vw;
}

.middle-content .title {
    color: #3398DB;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 16px;
}

.middle-content .text {
    color: rgb(175, 172, 172);
    font-family: 'Poppins Regular', sans-serif;
    font-size: 19px;
}

.invite-section {
    float: left;
    width: 100vw;
}

.overlay .invite-form {
    float: left;
    margin-top: 71vh;
}

.overlay .invite-form .title {
    padding-left: 11.9vw;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 57px;
    color: #3398DB;
}

.overlay .invite-form form {
    padding-top: 1.83vh;
    padding-left: 10.4vw;
}

.overlay .invite-form form input {
    width: 17.18vw;
    height: 6.7vh;
    background-color: #E8E8E8;
    border-radius: 5px;
    border: 0;
    margin-right:  1.2vw;
    margin-bottom: 2.76vh;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-shadow: 0.4px 0.4px #B9B9B9;
    padding-left: 1.6vw;
}

.overlay .invite-form form textarea {
    width: 37.3vw;
    height: 11.3vh;
    margin-bottom: 1.06vw;
    background-color: #E8E8E8;
    border-radius: 5px;
    border: 0;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-shadow: 0.4px 0.4px #B9B9B9;
    padding-top: 2.3vh;
    padding-left: 1.6vw;
}

.overlay .invite-form form button {
    width: 38.9vw;
    height: 6.94vh;
    background-color: #3398DB;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.52vh;
    border-radius: 5px;
    border: 0;
    background-color: #3398DB;
    font-size: 16px;
    font-family: 'Poppins Bold', sans-serif;
    letter-spacing: 0.4px;
    text-shadow: 4px;
}

.overlay .home-link {
    margin-top: 245.5vh;
    margin-left: 46.4vw;
    width: 3.2vw;
    height: 2vh;
    position: absolute;
}

.overlay .about-link {
    margin-top: 245.5vh;
    margin-left: 50.65vw;
    width: 3vw;
    height: 2vh;
    position: absolute;
}

.home-link-m {
    margin-top: 11.5vh;
    margin-left: 87.6vw;
    width: 3vw;
    height: 1.3vh;
    position: absolute;
}

.home-link-a {
    margin-top: 999.2vh;
    margin-left: 46.4vw;
    width: 3.2vw;
    height: 2vh;
    position: absolute;
}

.about-link-a {
    margin-top: 999.2vh;
    margin-left: 50.7vw;
    width: 3vw;
    height: 2vh;
    position: absolute;
}

.hives-a ,
.grow-a ,
.currency-a ,
.ventures-a {
    height: 2vh;
    position: absolute;
}

.hives-a {
    margin-top: 115.4vh;
    margin-left: 10.4vw;
    width: 8vw;
}

.grow-a {
    margin-top: 128.8vh;
    margin-left: 10.4vw;
    width: 8vw;
}

.currency-a {
    margin-top: 142.2vh;
    margin-left: 10.4vw;
    width: 18.6vw;
}

.ventures-a {
    margin-top: 162.6vh;
    margin-left: 10.4vw;
    width: 14.6vw;
}

@media only screen and (width: 1366px) {
    .container video {
        width: 1366px;
    }
}

@media only screen and (max-width: 1080px) {
    .container video {
        width: 100vw;
    }
}