@media only screen and (width: 1366px) {
    /* .eco .hives-a {
        margin-top: 27vh;
    }

    .eco .grow-a {
        margin-top: 40vh;
    }

    .eco .currency-a {
        margin-top: 52vh;
    }

    .eco .ventures-a {
        margin-top: 71vh;
    }

    .footer .home-link {
        margin-top: 8.9vh;
        margin-left: 46.4vw;
        width: 3.2vw;
        height: 2vh;
        position: absolute;
    }
    
    .footer .about-link {
        margin-top: 8.9vh;
        margin-left: 50.65vw;
        width: 3vw;
        height: 2vh;
        position: absolute;
    }

    .footer .home-link-a {
        margin-top: 8vh;
        margin-left: 46.4vw;
        width: 3.2vw;
        height: 2vh;
    }

    .footer .about-link-a {
        margin-top: 8vh;
        margin-left: 50.7vw;
        width: 3vw;
        height: 2vh;
    }

    .about .home-link-m {
        margin-top: 10vh;
        margin-left: 87.3vw;
        width: 3.4vw;
        height: 2vh;
        position: absolute;
    } */
}

@media only screen and (max-width: 1080px) {
}
