@media only screen and (min-width: 320px) and (max-width: 1080px) {

    .container video {
        position:relative;
        z-index:0;
    }

    .overlay .logo {
        padding-top: 3.2vw;
        padding-left: 3.82vw;
    }
    
    .overlay .header .logo picture img {
        width: 17.8vw;
        height: 8.9vw;
    }
    
    .overlay .menu {
        padding-top: 4vw;
        padding-left: 62vw;
        font-size: 1.8vw;
        letter-spacing: 0.012vw;
    }

    .overlay .about-main-title {
        padding-top: 7vw;
        padding-left: 8.3vw;
        font-size: 4vw; 
    }
    
    .overlay .about-main-text {
        padding-top: 3.5vw;
        padding-left: 8.3vw;
        font-size: 2.42vw; 
        width: 48vw;
    }
    
    .overlay .about-main-message {
        padding-top: 9.5vw;
        padding-left: 8.3vw;
        /* font-size: 2.42vw;  */
        font-size: 2.2vw; 
        font-weight: bolder;
        letter-spacing: 0.2vw;
    }
    
    .overlay .main-title {
        padding-top: 6.5vw;
        padding-left: 8vw;
        font-size: 3.95vw;
        letter-spacing: normal;
    }

    .overlay .sub-title {
        padding-top: 6vw;
        padding-left: 8vw;
        font-family: 'Poppins Regular';
        font-size: 2.7vw;
        font-weight: 700;
        letter-spacing: normal;
    }
    
    .overlay .invite {
        display: none;
        padding-top: 6vw;
        padding-left: 8vw;
    }
    
    .overlay .invite button {
        margin-top: -0.12vw;
        width: 17.66vw;
        height: 3.4vw;
        font-size: 1.2vw;
        letter-spacing: normal;
    }

    .overlay .shapes {
        padding-top: 19vw;
        padding-left: 8vw;
    }

    .overlay .shapes .one-third {
        float: left;
        width: 31vw;
    }
    
    .overlay .shapes .title {
        padding-top: 0.6vw;
        font-size: 1.35vw;
        width: 16vw;
    }
    
    .overlay .shapes .message {
        margin-top: -4.1vw;
        padding-left: 5.6vw;
        font-size: 1.6vw;
        letter-spacing: normal;
    }

    .middle-content {
        padding-top: 6.6vw;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-bottom: 7.8vw;
    }

    .middle-content .one-third {
        float: left;
        padding-right: 4vw;
        width: 28.3vw;
    }
    
    .middle-content .one-third .title {
        padding-bottom: 2.8vw;
        font-size: 2.5vw;
    }

    .middle-content .one-third .text {
        font-size: 2vw;
    }

    .invite-section {
        background-image: url("../img/noir-invite-m.png");
        height: 45vw;
    }

    .invite-form {
        margin-top: 2.4vw;
    }

    .invite-form .title {
        padding-top: 1.5vw;
        padding-left: 3.4vw;
        font-size: 3.77vw;
    }

    .invite-form form {
        margin-top: 0vw;
        padding-top: 0vw;
        padding-left: 3.4vw;
    }

    .invite-form form input {
        padding-left: 1.6vw;
        margin-right: 0.4vw;
        margin-bottom: -0.5vw;
        width: 21.2vw;
        height: 5vw;
        border-radius: 0.25vw;
        font-size: 2.2vw;
        letter-spacing: 0.025vw;
        text-shadow: 0.025vw 0.025vw #B9B9B9;
    }

    .invite-form form textarea {
        width: 45.4vw;
        height: 9vw;
        margin-bottom: 0vw;
        border-radius: 0.25vw;
        font-size: 2.3vw;
        letter-spacing: 0.025vw;
        text-shadow: 0.025vw 0.025vw #B9B9B9;
        padding-top: 1.29vw;
        margin-top: 2vw;
        padding-left: 1.6vw;
    }

    .invite-form form button {
        width: 47vw;
        height: 3.48vw;
        margin-top: -2.4vw;
        padding-top: 0vw;
        border-radius: 0.25vw;
        font-size: 1.4vw;
        letter-spacing: 0.15vw;
        text-shadow: 0.25vw;
    }

    .eco .hives-a ,
    .eco .grow-a ,
    .eco .currency-a ,
    .eco .ventures-a {
        height: 6.3vw;
        position: absolute;
    }

    .eco .hives-a {
        margin-top: 24vw;
        margin-left: 8.3vw;
        width: 17.6vw;
    }
    
    .eco .grow-a {
        margin-top: 39.2vw;
        margin-left: 8.3vw;
        width: 17.8vw;
    }
    
    .eco .currency-a {
        margin-top: 54.2vw;
        margin-left: 8.3vw;
        width: 40.6vw;
    }
    
    .eco .ventures-a {
        margin-top: 76.6vw;
        margin-left: 8.3vw;
        width: 32.6vw;
    }

    .footer .home-link {
        margin-top: 5.4vw;
        margin-left: 45vw;
        width: 7vw;
        height: 1.2vh;
        position: absolute;
    }
    
    .footer .about-link {
        margin-top: 5.4vw;
        margin-left: 55.4vw;
        width: 6.8vw;
        height: 1.2vh;
        position: absolute;
    }

    .footer .home-link-a {
        margin-top: 4.7vw;
        margin-left: 45vw;
        width: 7.4vw;
    }

    .footer .about-link-a {
        margin-top: 4.7vw;
        margin-left: 55vw;
        width: 7vw;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1900px) {
    .middle-content .one-third .title {
        font-size: 1.32vw;
    }

    .middle-content .one-third .text {
        font-size: 1.085vw;
    }

}

/*
@media only screen and (min-width: 730px) and (max-width: 1081px) {
     .overlay .main-title {
        padding-top: 5vw;
        padding-left: 10.4vw;
        font-size: 3.442vw;
    }

    .overlay .invite button {
        padding-top: 0.07vw;
        font-size: 0.844vw;
        letter-spacing: 0.05vw;
    }

    .overlay .shapes .message {
        margin-top: -1.25vw;
    } */

    /* .eco .hives-a {
        margin-top: 27vh;
    }

    .eco .grow-a {
        margin-top: 40vh;
    }

    .eco .currency-a {
        margin-top: 52vh;
    }

    .eco .ventures-a {
        margin-top: 71vh;
    }

    .footer .home-link {
        margin-top: 8.9vh;
        margin-left: 46.4vw;
        width: 3.2vw;
        height: 2vh;
        position: absolute;
    }
    
    .footer .about-link {
        margin-top: 8.9vh;
        margin-left: 50.65vw;
        width: 3vw;
        height: 2vh;
        position: absolute;
    }

    .footer .home-link-a {
        margin-top: 8vh;
        margin-left: 46.4vw;
        width: 3.2vw;
        height: 2vh;
    }

    .footer .about-link-a {
        margin-top: 8vh;
        margin-left: 50.7vw;
        width: 3vw;
        height: 2vh;
    }

    .about .home-link-m {
        margin-top: 10vh;
        margin-left: 87.3vw;
        width: 3.4vw;
        height: 2vh;
        position: absolute;
    } 
}
*/